<header class="headerClass">
  <div class="content">
  <h1>Hi, I am Meerjavali Shaik </h1>
  <h2>I am a Angular developer from Hyderabad, India.</h2>
  </div>
  <div class="icons">
    <h1>
      <a href="https://www.linkedin.com/in/meerjavali98/"><img src="../assets/linked-image.png"/></a>
      <a href="https://www.hackerrank.com/profile/meerjavali98"><img src="../assets/Hackerrank.png"/></a>
      <a href="https://github.com/meerjavali"><img src="../assets/github.png"/></a>  
    </h1>
  </div>
</header>

<article>
  <section>
    <div class="sectionHeaders">
        <h2>Overview</h2>
    </div>
    <p>I am working as an associate with Tata Consultancy Services for the past 3 years 4 months. I have 
      been primarily involved in application development and maintenance project. My technological forte is 
      UI technologies like Angular, HTML5, CSS3, Typescript, JavaScript. I also have major experience in 
      Manual testing and ADA testing of web-based applications. My area of work includes business 
      requirement analysis, designing, application development and maintenance.</p>
  </section>
  <section>
    <div class="sectionHeaders">
        <h2>Experience Summary</h2>
    </div>
    <ul>
      <li>Extensive knowledge in developing single page applications (SPAs) using Angular.</li>
      <li> Proficient in developing web pages using HTML, HTML5, CSS, CSS3, JavaScript, Typescript, 
        Angular, Bootstrap.</li>
      <li>Hands on Experience on Angular CLI for creating components, Services, directives and 
        pipes.</li>
      <li>Creating the application with great security by adding strict form validations. Handle 
      Reactive Validations</li>
      <li>Experience in working with Angular15 modules, services, templates, directives, 
      components, routes, Interceptors and dependency injection</li>
      <li>Experience in working with Rest API services and RXJS</li>
      <li>Used Bootstrap and media queries to create a responsive website that fit all users and 
        devices from desktop to tablet and mobile phone.</li>
      <li>Experience in developing application as per WCAG rules to make it ADA compliance.</li>
      <li>Hands on experience with using Version Control Systems (VCS) tools like GIT and JIRA</li>
      <li>Involved in Agile environment where we implemented continuous integration.</li>
      <li>Worked with teams where requirements are constantly being implemented, tested, and 
      improved</li>
      <li>Good communication skills, documentation skills, problem solving abilities, quick learner, 
      multitasking</li>
    </ul>
  </section>
  <section>
    <div class="sectionHeaders">
      <h2>Skills</h2>
  </div>
    <div class="skills">
      <table>
        <tr>
          <td>
            <p>Programming Languages</p>
          </td>
          <td>
            <p>C, core java, Python (basics)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Scripting Languages</p>
          </td>
          <td>
            <p>TypeScript, JavaScript</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Technologies / Frameworks</p>
          </td>
          <td>
            <p> Angular 15, HTML5, CSS3, NodeJs</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Tools used</p>
          </td>
          <td>
            <p>Bitbucket, Jira, Jenkins,Visual Studio code, Figma, NVDA, axe dev tool, CCA.</p>
          </td>
        </tr>
      </table>
    </div>

  </section>
  <section>
    <div class="sectionHeaders">
        <h2>Work Experience</h2>
    </div>
    <h3>Tata Consultancy Services | System's Engineer | November-2020 to Present</h3>
    <div>
      <ul>
        <li>Working as the Angular developer for Simplified Banking 
        Application.</li>
        <li>Requirement analysis and development of the Application.</li>
        <li>Created reusable components, directives and pipes for the Application.</li>
        <li>Worked with ICMS tool to store the static data. Used web 
        API calls to retrieve the data and rendered to UI.</li>
        <li>Created beautiful templates for the application using Client 
        Figma designs.</li>
        <li>Worked with Journey teams and deployed our feature 
        modules to various environments.</li>
        <li>Helping with & peer reviewing the Angular 
         works/deliverables.</li>
        <li>Apart from development, I also do Manual testing, bug 
        identification, documenting the identified bugs, review the code with 
        peer developers, ADA testing for our application.</li>
      </ul>
    </div>
  </section>
</article>

